<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Automate</title> 
    <link rel="stylesheet" href="~/Content/arduino-light.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script src="~/Scripts/autoresize.jquery.js"></script>
    <script src="~/Scripts/bootbox.js"></script>    
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular_route.js"></script>
    <script src="~/Scripts/angular_resource.js"></script>
    <script src="~/Scripts/logs.js"></script>
    <base href="/" />
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="nav">
                <ul class="nav navbar-nav">
                    <li class="navbar-brand" id="automate">
                        @Html.ActionLink("Automate", "Index", "Home")
                    </li>
                    <li  class="navbar-brand">
                        @Html.ActionLink("Log", "Index", "Log" )
                    </li>
                    <li class="navbar-brand">
                        @Html.ActionLink("User's Control", "Index", "User")
                    </li>
                </ul>
            </div>
        </div>
    </div>
    

    <div class="body-content">

        @RenderBody()
        <footer>
            <p></p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
<script>

    function DeleteProperty(id) {
        bootbox.confirm("Are u sure?", function (result) {
            if (result) {
                var obj = $(this);
                $.ajax({
                    url: "/Property/Delete/" + id,
                    data: JSON.stringify(id),
                    type: "POST",
                    contentType: "application/json:charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        $("#descrId").val("");
                        $("#propId").val("");
                        var Id = $("#subId").val();
                        toastr.info("Property was deleted");
                        window.location.href = result.Url + Id;
                    },
                    error: function (result) {
                        toastr.error("Smth wrong");
                    }

                });
            }
        });
    }
    function SaveProperty() {
        if (!isValid())
        {
            toastr.error("Check the field!")
            return false;
        }
        var property = {
            Id: $("#propertyId").val(),
            Description: $("#descrId").val(),
            Properties: $("#propId").val(),
            Subject_id: $("#subId").val(),
            VisualRepresentation_Id: $("#vr_id").val()

        };
        $.ajax({
            url: "/Property/Add",
            data: JSON.stringify(property),
            type: "POST",
            contentType: 'application/json',
            processData: false,
            success: function () {
               
                toastr.info("Done");

            },
            error: function () {
                toastr.error("Smth Wrong")
            }

        });

    }
    function ShowProperties() {
        var Id = $("#subId").val();
        $.ajax({
            url: "/Property/GetPropertybyId/"+Id,
            type: "GET",
            data: JSON.stringify(Id),
            contentType: 'application/json',
            processData: false,
            success: function (result) {
                AddProperty(result);
                toastr.success("DOne");
            },
            error: function () {
                toastr.error("Smth wrng");
            }
        });
    }

    function AddProperty(result) {
        var html = '';
        var ancor = $("#addprop");
        html += '<div class="propResult container">'
        html += '<hr>'
        $.each(result, function (key, item) {
            html += '<div class="well col-sm-4">';
            html += '<a href=/Home/Find/' + item.Id + '><p>' + item.Properties +  '</p></a>';
            html += '<button class="btn btn-danger pull-right" onclick="Delete(' + item.Id + ')">Delete</button>';
            html += '</div>'
            

        });

        html += '<hr>'
        html += '</div>'
        $('#addprop').html(html);
    }

</script>
